<footer class="jumbotron">
  <div class="text-center text-white">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-lg-8 mt-2">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
            nulla perferendis natus magnam quod fugit libero omnis asperiores,
            amet voluptatem odio nostrum temporibus, laudantium aspernatur
            aliquid delectus porro est maxime. Quidem provident ipsum obcaecati
            facilis ipsa molestiae, possimus impedit tempora assumenda libero
            est eum ex, totam placeat odit blanditiis maiores. Est voluptates
            esse sed dignissimos excepturi placeat dolores accusantium porro?
          </p>
        </div>
      </div>
      <div class="text-center mb-2">
        <a href="" class="text-white me-4">
          <i class="fa fa-facebook-f"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fa fa-twitter"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
